<h2>Todo List</h2>
<ul class="list-group">
    {{#each todos}}
    <a class="list-group-item d-flex justify-content-between align-items-center" href="/todo/{{_id}}">
        {{title}}
        <span class="badge badge-primary badge-pill">{{priority}}</span>
    </a>
    {{/each}}
</ul>
<br />
<a class="btn btn-primary" href="/todo/new">New Todo</a>
